.authentication-page-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  overflow-y: visible;
  background-color: var(--dark-accent-color-2);
}

section.cinematic-authentication {
  padding: 5em;
	background: url(./../svg/login.svg) no-repeat fixed white;
	background-size: cover;
	background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: -250px center;
	text-align: center;
  position: relative;
  flex: 1 1 45%;
  height: 100%;
  width: 50%;
  box-shadow: 0px 5px 10px black;
  animation: 1s slideInFromLeftFadeIn 0s forwards cubic-bezier(.15,.97,.51,1.01);
}

.username-container, .password-container {
  margin-bottom: 8px;
}

.password-container {
  margin-bottom: 32px;
}

.authentication-container {
  position: relative;
  display: flex;
  flex: 1 0 50%;
  margin-left: 8em;
  height: 30%;
  top: 20%;

  h1 {
    font-weight: 600;
    font-family: 'Inter', sans-serif;
	  letter-spacing: -1.55px;
    font-size: 48px;
    margin-bottom: 12px;
  }

  h4 {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.011px;
    font-weight: 500;
  }
  
  input {
    color: var(--theme-pure-color);
  }

  label {
    color: #b1b1b1;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.authentication-header {
  margin-bottom: 48px;

  &-error {
    color: #bd4949;
    margin-top: -1em;
    margin-bottom: -1em;
    display: inline-block;
    font-size: 12px;
    text-align: left;
  }
}

.btn.login-button {
  background-color: #5ba367;
  position: relative;
}

.invalid-text-input {
  border: 1px solid #d32f2f;
  transition: all 0.3s;
}

.valid-text-input {
  border: 1px solid #4caf50;
  transition: all 0.3s;
}

.no-account {
  margin-top: 2em;
}

@media only screen and (max-height: 768px) {
  .authentication-container {
    top: 2em;
    height: auto;
  }
}

@media only screen and (min-width: 1500px) {
  section.cinematic-authentication {
      background-size: 50%;
      background-position: -50px 0px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1500px) {
  section.cinematic-authentication {
      background-size: 100%;
      background-position: -300px -400px;
  }
}

@media only screen and (max-width: 1000px) {
  section.cinematic-authentication {
      background-size: contain;
      background-position: -100px center;
  }
}

@media only screen and (max-width: 768px) {
  section.cinematic-authentication {
      display: none;
  }
}

@media only screen and (max-width: 468px) {
  .authentication-container {
      margin: 0;

      h1 {
        font-size: 40px;
      }
  }
}