.landing {
  padding: 1em;
}

.title {
  display: flex;
  flex-direction: row;
  flex: 1 auto;
  justify-content: center;
  align-items: center;
}

.main-title {
  width: fit-content;
  padding-left: 24px;
  font-size: 82px;
}

section.landing-cinematic {
	padding: 10em 10em 10em 10em;
	background: linear-gradient(to right, rgba(0,0,0,0.95) 10%,rgba(0,0,0,0.01) 300%,rgba(0,0,0,0) 52%), url(./../svg/poplet-background-dark.svg) repeat;
	background-repeat: repeat;
	background-size: cover;
	background-position: 0px -400px;
	text-align: center;
	max-width: 100%;
	width: 100%;
	height: 75%;
	max-height: 75%;
	box-shadow: 0px 5px 10px black;
}