.app {
	overflow-y: auto;
	overflow-x: hidden;
}

div.landing-body {
	background-color: #ececec;
}

.intro-title {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  justify-content: left;
	align-items: left;
	margin-left: 4em;
	font-family: 'Inter', sans-serif;
	letter-spacing: -0.5px;
}

.intro-description {
	color: #353535;
	font-size: 24px;
	margin-right: 32px;

	&-title {
		color: black;
		margin: 0;
		font-size: 28px;
		margin-top: 2em;
	}
}

.intro-details {
	margin-top: 5em;
}

.intro-getstarted-btn {
	margin-right: 24px;
	border-radius: 6px;
	height: 36px;
	line-height: 36px;
	width: 200px;
}

.landing-content-card {
	margin-left: 4em;
}

.landing-links {
	display: flex;
	flex-direction: row;

	> * {
		padding: 0em 0.5em;
	}
}

.landing-content-card-title {
  font-family: 'Days One', sans-serif;
	font-weight: 300;
	font-size: 38px;
	margin-right: 30%;
	margin-bottom: 0;
	color: var(--theme-pure-color);
	background-color: var(--dark-accent-color-1);
	padding: 4px;
	padding-left: 8px;
	border-radius: 4px;
	word-wrap: break-word;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.landing-content-card-desc {
	font-family: 'Inter', sans-serif;
	letter-spacing: -0.25px;
	color: var(--theme-pure-color);
	font-weight: 400;
	background-color: var(--light-accent-color-3);
	padding: 8px;
	padding-left: 14px;
	font-size: 16px;
	margin-right: 35%;
	margin-top: 0px;
}

.main-title {
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 32px;
	font-size: 92px;
	color: var(--poplet-purple);
	font-family: 'Rubik', sans-serif;
	letter-spacing: -3.25px;
	font-weight: 800;
}

section.landing-cinematic {
	background: linear-gradient(to right, rgba(255,255,255,0.95) 40%,rgba(255,255,255,0.01) 100%,rgba(255,255,255,0) 50%), url(./../svg/intro.svg) no-repeat, white;
	background-size: cover;
	background-position: 0px 0px;
	max-width: 100%;
	width: 100%;
	height: 600px;
	max-height: 75%;
}

.landing-background {
	background-color: var(--primary-color);
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: clip-path .5s ease-in-out;
	clip-path: ellipse(0% 0% at 89% 2.55%);
	z-index: 1;

	&-animated {
		clip-path: ellipse(100% 100% at 50% 50%);
		opacity: 1;
	}
}

@media screen and (max-width: 1400px) and (min-width: 1100px) {
	.main-title {
		font-size: 90px;
	}

	.intro-description {
		font-size: 20px;
	}
}

@media screen and (max-width: 1100px) and (min-width: 768px) {
	.main-title {
		font-size: 80px;
	}

	.intro-description {
		font-size: 20px;
	}
}

@media screen and (max-width: 900px) {
	section.landing-cinematic {
		background: linear-gradient(0deg, rgba(255,255,255,0.95) 40%,rgba(255,255,255,0.01) 100%), url(./../svg/intro.svg) no-repeat, white;
		background-size: cover;
		background-position: -400px center;
	}
}


@media screen and (max-width: 768px) {
	.main-title {
		font-size: 65px;
	}

	.intro-description {
		font-size: 20px;
	}

	section.landing-cinematic {
		background-position: -700px 0px;
		background-size: 300%;
	}
}

@media screen and (max-width: 600px) {
	.main-title {
		font-size: 55px;
	}

	.landing-content-card {
		margin-left: 3em;

		&-title {
			margin-right: 48px;
		}

		&-desc {
			margin-right: 72px;
		}
	}

	.intro-title {
		margin-left: 2.5em;
	}
}

@media screen and (max-width: 480px) {
	section.landing-cinematic {
		background-position: -700px 0px;
		background-size: 400%;
	}

	.intro-title {
		margin-left: 2em;
	}

	.intro-details {
		margin-top: 1.5em;
	}

	.main-title {
		font-size: 52px;
	}

	.intro-description {
		font-size: 18px;

		&-title {
			font-size: 24px;
		}
	}

	.navbar-text {
		display: none;
	}
}

section > .navbar-container {
	> .navbar {
		background-color: transparent;

		a {
			color: var(--theme-pure-color-opposite);
		}

		> .navbar-register {
			padding: 0.5em 1em 0.5em 1em;
			text-transform: uppercase;
			font-weight: 800;
			border-radius: 8px;
			background-color: var(--dark-accent-color-1);

			a {
				color: var(--theme-pure-color);
			}
		}
	}
}

footer {
	bottom: 0;
	padding: 12px;
	z-index: -1;
	margin-top: 4em;
	background-color: #131313;
	width: 100%;
	height: 50px;
}