.group {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 1em;
  margin-top: 2.5em;
  width: inherit;
  display: inline-block;

  > .note {
    border: 1px solid #212121;
    position: absolute;
    display: inline-block;
  }

  &-container {
    background-color: #424242;
    border: 3px solid #212121;
    border-radius: 6px;
    min-height: 250px;
    max-height: 1000px;
    min-width: 200px;
    width: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: absolute;
    border-radius: 4px;
    transition: all 0.5s;
    overflow: hidden;
  }

  &-header {
    background-color: rgba(22, 22, 22, 0.7);
    min-height: 40px;
    max-height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 0.5em;
    z-index: 3;

    &-name {
      max-width: 250px;
    }

    &-note-count {
      font-family: 'Roboto', sans-serif;
      margin: 5px;
      margin-left: 12px;
      padding-left: 5px;
      padding-right: 5px;
      height: auto;
      text-transform: uppercase;
      font-size: 12px;
      background-color: #37474f;
      display: inline-block;
      border-radius: 5px;
      line-height: 2em;
      position: relative;
    }
  }
}