.group {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 1em;
  width: inherit;

  > .note {
    position: absolute;
    display: inline-block;
  }

  &-settings-btn {
    margin-right: 4px;

    > i {
      font-size: 20px;
    }
  }

  &-container {
    background-color: #424242;
    border-radius: 6px;
    min-height: 250px;
    max-height: 1000px;
    min-width: 200px;
    width: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: absolute;
    border-radius: 4px;
    transition: all 0.5s, opacity 0ms;
    overflow: hidden;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  }

  &-header {
    background-color: rgba(22, 22, 22, 0.7);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    min-height: 40px;
    max-height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 0.5em;
    padding-left: 0.25em;
    z-index: 0;
    white-space: nowrap;

    &-name {
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline;
      max-width: 150px;
      max-height: 18px;
      line-height: 18px;
      min-width: 50px;
    }

    &-note-count {
      font-family: 'Roboto', sans-serif;
      margin: 5px;
      margin-right: 8px;
      padding-left: 5px;
      padding-right: 5px;
      height: auto;
      text-transform: uppercase;
      font-size: 12px;
      background-color: var(--light-accent-color-5);
      display: inline-block;
      border-radius: 3px;
      line-height: 2em;
      position: relative;
    }
  }
}