@import './../../index.scss';

.feedback {

  &-subtext {
    margin: 0;
    color: $text-accent-color;
  }

  &-error {
    color: $poplet-error;
  }
}

.divider.feedback-subheader-dropdown {
  color: $text-subheading-color;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 0px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.dropdown-content {
  background-color: $dark-accent-color-2 !important;
  width: 200px !important;
  overflow-x: hidden;
  max-height: 500px;

  .avatar {
    top: 0px;
    position: relative;
  }

  li {
    color: white;
    padding: 1em;
  }

  li:hover {
    -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  }

  .divider {
    background-color: $dark-accent-color-5 !important;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 14px;

    &-thumb {
      background-clip: padding-box;
      border-width: 3px;
      border-style: solid;
      border-radius: 7px;
      border-color: #505050;
    }

    &-track-piece {
      background-color: #1d1d1d;
      border: 3px solid #292929;
      border-radius: 7px;
    }
  }
}

.item-selection li {
  padding-top: 8px;
  padding-left: 8px;

  .avatar p {
    top: 0px;
  }

  .avatar, i {
    float: left;
    color: white;
    margin-right: 12px;
    position: relative;
  }

  i {
    top: 3px;
  }

  p {
    color: white;
    font-size: 16px;
    display: block;
    line-height: 30px;
    margin: 0;
  }
}

