.feedback {
  &-subtext {
    margin: 0;
    color: var(--text-accent-color-1);
  }

  &-error {
    color: var(--poplet-error);
  }

  &-container {
    background-color: var(--dark-accent-color-3);
  }
}

.feedback-divider {
  background-color: var(--dark-accent-color-5) !important;
  min-height: 0 !important;

  &.feedback-subheader-dropdown {
    color: var(--text-subheading-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 0px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
}

.dropdown-content {
  background-color: var(--dark-accent-color-2) !important;
  width: 200px !important;
  overflow-x: hidden;
  max-height: 500px;

  .avatar {
    top: 0px;
    position: relative;
  }

  li {
    color: var(--theme-pure-color);
    padding: 1em;
  }

  li:hover {
    -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 14px;

    &-thumb {
      background-clip: padding-box;
      border-width: 3px;
      border-style: solid;
      border-radius: 7px;
      border-color: #505050;
    }

    &-track-piece {
      background-color: #1d1d1d;
      border: 3px solid #292929;
      border-radius: 7px;
    }
  }
}

.item-selection li {
  padding-top: 8px;
  padding-left: 8px;

  .avatar p {
    top: 0px;
  }

  .avatar, i {
    float: left;
    color: var(--theme-pure-color);
    margin-right: 12px;
    position: relative;
  }

  i {
    top: 3px;
  }

  p {
    color: var(--theme-pure-color);
    font-size: 16px;
    display: block;
    line-height: 30px;
    margin: 0;
  }
}

