.board {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.top-section {
  padding-top: 12px;
  margin-bottom: 12px;
  width: 80%;
  background-color: #292929;
  box-shadow: 3px 4px 2px #212121;
}

.board-top-section {
  padding: 1em;
  padding-top: 0.5em;
  display: flex;
  flex-flow: row nowrap;
}

.board-information {
  margin-right: 24px;
  max-width: 350px;
  flex: initial;
}

.vertical-rule  {
  border-left: 1px solid #fff;
  flex: 0 auto;
}

.options-top-section-left {
  margin-left: 24px;
  flex: 1 100%;
}

.large-invite-members-btn {
  float: right;
  margin-top: 4px;
  margin-left: 12px;
  margin-right: 12px;
}

.board-selector-btn {
  float: right;
  margin-top: 4px;
  margin-left: 12px;
  margin-right: 12px;
}

.user-details {
  position: relative;
  margin-top: 12px;
  float: left;
  background-color: #202225;
  border-radius: 12px;
  padding: 4px !important;
  width: 350px;

  .btn-small {
    margin-right: 12px;
  }

  &-btn {
    height: 24px !important;
    line-height: 24px !important;
  }
}

.board-details .avatar {
  top: 4px;
  position: relative;
  float: left;
}

.board-info, .user-info {
  &-title {
    font-weight: 800;
  }

  &-text {
    float: left;
    padding-left: 12px;
  }
}

.user-details .avatar {
  top: 4px;
  position: relative;
  float: left;
}

.board-details {
  float: left;
  background-color: #202225;
  border-radius: 12px;
  padding: 4px;
  width: 350px;
}

.dropdown-content {
  background-color: #212121 !important;
  width: 200px !important;
  overflow-x: hidden;
  max-height: 400px;

  .avatar {
    top: 0px;
    position: relative;
  }

  li:hover {
    background-color: #353535 !important;
  }

  .divider {
    background-color: #414141 !important;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 14px;

    &-thumb {
      background-clip: padding-box;
      border-width: 3px;
      border-style: solid;
      border-radius: 7px;
      border-color: #505050;
    }

    &-track-piece {
      background-color: #1d1d1d;
      border: 3px solid #292929;
      border-radius: 7px;
    }
  }
}

.board-selection li {
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 8px;

  .avatar p {
    top: 0px;
  }

  .avatar, i {
    float: left;
    color: white;
    margin-right: 12px;
    position: relative;
  }

  i {
    top: 3px;
  }

  p {
    color: white;
    font-size: 16px;
    display: block;
    line-height: 30px;
    margin: 0;
  }
}

.searchbar-container {
  padding-bottom: 12px;
}

.btn-floating-container {
  width: fit-content;
  margin: 0;
  float: left;
}

@media screen and (max-width: 800px) {
  .btn-floating {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 13px;
    
    i {
      line-height: 32px;
    }
  }
}

@media screen and (max-width: 700px) {
  .top-section {
    width: 100%;
  }

  .board-information {
    flex: 1;
    width: fit-content;
  }

  .user-info-misc-info, .board-info-member-count {
    display: none;
  }

  .user-details, .board-details {
    width: 200px;
  }

  .board-selector-btn, .large-invite-members-btn {
    position: absolute;
    top: 20px;
    left: 35px;
    line-height: 14px;
    height: 14px;
  }

  .large-invite-members-btn {
    top: 40px;
    left: 50px;
  }
}

@media screen and (max-width: 500px) {
  .btn-floating-container {
    width: 47px;

    .floating-btn-label {
      display: none;
    }
  }

  .text-input-container {
    width: 100px !important;
  }
}