@import './../../index.scss';

.board {
  display: flex;
  flex-flow: column;
  flex: 1 1 80%;
  height: 100%;
  width: auto;
}

.select-area {
  border: 2px solid #0277bd;
  background-color: rgba(79, 195, 247, 0.5);
  position: absolute;
  z-index: 2;
}

.top-section {
  background-color: $light-accent-color-2;
  box-shadow: 0px 0.8px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.board-top-section {
  display: flex;
  flex-flow: row nowrap;
  height: 120px;
}

.board-information {
  padding: 1em;
  padding-top: 8px;
  margin-right: 24px;
  max-width: 400px;
  flex: initial;
  background-color: $dark-accent-color-1;
}

.vertical-rule  {
  border-left: 1px solid #fff;
  flex: 0 auto;
}

.options-top-section-left {
  padding-top: 8px;
  margin-left: 24px;
  flex: 1 1 100%;
}

button.large-invite-members-btn {
  margin-top: 12px;
  background: linear-gradient(74deg, $poplet-purple, $poplet-pinkple);
  transition: all 0.1s;

  &:hover {
    transform: translateY(-2px);
  }
}

.leave-board {
  background-color: $poplet-red;
}

.board-selector-btn {
  margin-top: 4px;
  margin-left: 12px;
  margin-right: 12px;
}

.board-info {
  display: flex;
  flex-direction: row;
  align-items: center;

  > .avatar {
    border-radius: 8px;
    margin: 0;
    flex: 0 0 32px;
  }

  &-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4px;
    margin-left: 8px;
    border-radius: 4px;
    transition: all 0.1s;
  }

  &-title {
    &-text {
      font-weight: 800;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      font-size: 18.5px;
      max-width: 155px;
      width: 100%;
    }
    
    > i {
      top: 4px;
      left: 12px;
      position: relative;
    }
  }

  &-member-count {
    overflow: hidden;
    display: block;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;

    > div {
      color: $text-accent-color-3;
    }
  }
}

.board-details {
  border-radius: 12px;
  padding: 4px;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.board-dropdown-arrow i {
  border-radius: 4px;
  background-color: $light-accent-color-1;
}

.board-selection {
  &-join {
    background-color: $board-join-color !important;
  }

  &-create {
    background-color: $board-create-color !important;
  }
}

.searchbar-container {
  padding-bottom: 2px;
  width: 220px;
  margin: 0;
}

.zoom-container {
  margin-left: 2em;
  height: 250px;
  width: 250px;
  position: relative;

  header {
    position: relative;
    top: -50px;
  }  
}

.note, .group {
  transform-origin: top left;
}

.zoom-options {
  position: absolute;
  display: flex;
  flex-direction: row;
  padding: 0.3em;
  background-color: $dark-accent-color-3;
  width: auto;
  margin-right: 25px;
  margin-bottom: 15px;
  border-radius: 4px;

  :first-child {
    margin-left: 0;
  }

  div {
    transition: all 0.15s;
    margin-left: 1em;
    background-color: $light-accent-color-1;
    border-radius: 4px;
    padding: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    cursor: pointer;

    &:hover {
      background-color: $light-accent-color-3;
    }
  }
}

.toolbar-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 75px;
  min-width: 250px;
  max-width: 325px;

  > div {
    flex: 0 0 auto;
  }
}

.toolbar-option {
  transition: all 0.1s;
  padding: 6px;
  border-radius: 4px;
  margin-left: 4px;
  cursor: pointer;

  &:hover {
    background-color: $light-accent-color-3;
  }

  &:active {
    background-color: $light-accent-color-5;
  }
}

.btn-small.toolbar-btn {
  margin-right: 8px;
  width: 16px;
  height: 24px;
  
  > i {
    font-size: 16px;
    line-height: 16px;
    position: relative;
    left: -7px;
  }
}

.member-list-btn {
  text-transform: uppercase;
  font-size: 12px;
}


@media screen and (max-width: 800px) {
  .toolbar-container button.btn-floating {
    width: 32px;
    height: 32px;
    
    > i {
      line-height: 32px;
      font-size: 20px;
    }
  }

  .toolbar-container .floating-btn-label {
    display: none;
  }

  .options-top-section-left {
    margin-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .top-section {
    width: 100%;
  }

  .board-info-member-count {
    display: none;
  }

  .board-details {
    width: 200px;
  }

  div.members-list {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .toolbar-option p {
    display: none;
  }

  .btn-circle.toolbar-btn {
    margin: 2px;
  }

  .toolbar-container {
    min-width: 40px;
    max-width: 100px;
  }

  div.searchbar-container {
    width: 75px;
  }

  .zoom-container {
    top: 32px;
  }
}

@media screen and (max-width: 500px) {
  .text-input-container {
    width: 100px !important;
  }

  div.toolbar-container {
    min-width: 100px;
    max-width: 150px;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .options-top-section-left {
    margin-left: 0;
  }

  .zoom-container {
    display: none !important;
  }
}


@media screen and (max-width: 450px) {
  .options-top-section-left {
    width: 0px;
    max-width: 0px;
    
    > .searchbar-container {
      display: none;
    }
  }

  button.large-invite-members-btn {
    display: none;
  }

  .board-information {
    max-width: 100%;
    width: 100%;
    height: 75px;
    margin: 0;
  }

  .board-details {
    width: 100%;
  }

  .board-info-title-text {
    max-width: 270px;
  }

  .board-top-section {
    height: 75px;
  }

  div.note-container {
    overflow-x: auto;
    height: calc(100% - 75px);
  }
  
  div.toolbar-container {
    z-index: 2;
    position: absolute;
    bottom: 0px;
    left: 0px;
    min-width: 100%;
    max-width: 100%;
    padding: 12px;
    padding-left: 32px;
    background-color: $dark-accent-color-3;
    flex-wrap: wrap;
    flex-direction: row;

    > div.toolbar-option {
      width: 32px;
      flex: 0 1 auto;

      > button.toolbar-btn {
        width: 48px;
        height: 48px;
        line-height: 0;
        font-size: 48px;
      }
    }
  }
}