@import './../../index.scss';

.board {
  display: flex;
  flex-flow: column;
  flex: 1 1 80%;
  height: 100%;
  width: auto;
}

.select-area {
  border: 2px solid #0277bd;
  background-color: rgba(79, 195, 247, 0.5);
  position: absolute;
  z-index: 2;
}

.top-section {
  background-color: $light-accent-color-2;
  box-shadow: 3px 4px 2px #212121;
}

.board-top-section {
  display: flex;
  flex-flow: row nowrap;
  height: 120px;
}

.board-information {
  padding: 1em;
  padding-top: 8px;
  margin-right: 24px;
  max-width: 400px;
  flex: initial;
  background-color: $dark-accent-color-1;
}

.vertical-rule  {
  border-left: 1px solid #fff;
  flex: 0 auto;
}

.options-top-section-left {
  padding-top: 8px;
  margin-left: 24px;
  flex: 1 1 100%;
}

.large-invite-members-btn {
  margin-top: 12px;
}

.board-selector-btn {
  margin-top: 4px;
  margin-left: 12px;
  margin-right: 12px;
}

.board-info {
  display: flex;
  flex-direction: row;
  align-items: center;

  > .avatar {
    border-radius: 8px;
    margin: 0;
    flex: 0 0 32px;
  }

  &-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4px;
    margin-left: 8px;
    border-radius: 4px;
    transition: all 0.1s;

    &:hover {
      background-color: $light-accent-color-1;
    }
  }

  &-title {
    font-weight: 800;
    overflow: hidden;
    display: block;
    font-size: 24px;
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    > i {
      top: 4px;
      left: 12px;
      position: relative;
    }
  }

  &-member-count {
    overflow: hidden;
    display: block;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;

    > div {
      color: $text-accent-color-3;
    }
  }
}

.board-details {
  border-radius: 12px;
  padding: 4px;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  background-color: $dark-accent-color-2 !important;
  width: 200px !important;
  overflow-x: hidden;
  max-height: 400px;

  .avatar {
    top: 0px;
    position: relative;
  }

  li > a {
    padding: 0 !important;
  }

  li:hover {
    -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  }

  .divider {
    background-color: $light-accent-color-3 !important;
    margin-top: 1em;
    padding: 0;
    margin-bottom: 0.5em;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 14px;

    &-thumb {
      background-clip: padding-box;
      border-width: 3px;
      border-style: solid;
      border-radius: 7px;
      border-color: #505050;
    }

    &-track-piece {
      background-color: #1d1d1d;
      border: 3px solid #292929;
      border-radius: 7px;
    }
  }
}

.board-dropdown-arrow i {
  border-radius: 4px;
  background-color: $light-accent-color-1;
}

.board-selection li {
  padding-top: 8px;
  padding-left: 8px;

  .avatar p {
    top: 0px;
  }

  .avatar, i {
    float: left;
    color: white;
    margin-right: 12px;
    position: relative;
  }

  i {
    top: 3px;
  }

  p {
    color: white;
    font-size: 16px;
    display: block;
    line-height: 30px;
    margin: 0;
  }
}

.board-selection {
  &-join {
    background-color: $board-join-color !important;
  }

  &-create {
    background-color: $board-create-color !important;
  }
}

.searchbar-container {
  padding-bottom: 2px;
}

.toolbar-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 75px;
  min-width: 250px;
  max-width: 325px;

  > div {
    flex: 0 0 auto;
  }
}

.toolbar-option {
  transition: all 0.1s;
  padding: 4px;
  cursor: pointer;

  &:hover {
    background-color: $light-accent-color-3;
  }

  &:active {
    background-color: $light-accent-color-5;
  }
}

.btn-circle.toolbar-btn {
  margin-left: 2px;
  margin-right: 8px;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  
  > i {
    font-size: 16px;
    line-height: 16px;
  }
}

.member-list-btn {
  text-transform: uppercase;
  font-size: 12px;
}


@media screen and (max-width: 800px) {
  .toolbar-container button.btn-floating {
    width: 32px;
    height: 32px;
    
    > i {
      line-height: 32px;
      font-size: 20px;
    }
  }

  .toolbar-container .floating-btn-label {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .top-section {
    width: 100%;
  }

  .board-info-member-count {
    display: none;
  }

  .board-details {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .text-input-container {
    width: 100px !important;
  }
}