@import './../../../index.scss';

.board-settings > .modal-content {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;

  > .board-settings-left-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    padding: 4em 0.5em;
    background-color: $dark-accent-color-1;
    border-right: 2px solid $dark-accent-color-3;
  }

  > .board-settings-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 4em 2em;
    margin-left: 2em;
  }
}

.board-settings {
  &-content-container {
    width: 70%;
  }
  
  &-header {
    font-size: 32px;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 4px;
    position: relative;
  }

  &-header-name {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    color: $text-accent-color-1;
    margin-bottom: 12px;
  }

  &-settings {
    flex-direction: column;
    min-width: 33%;
  }

  &-subheader {
    color: $text-subheading-color;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-top: 24px;
    margin-bottom: 6px;
  }

  &-text {
    font-size: 15px;
    color: $text-accent-color-1;
    margin-bottom: 8px;
  }

  &-settings-container {
    margin: 0;
  }

  &-setting {
    color: white;
    padding: 6px 124px 6px 12px;
    border-radius: 4px;
    font-size: 18px;
    transition: 0.1s;

    &:hover {
      transform: translateX(2px);
      background-color: $light-accent-color-1;
    }

    &:active {
      background-color: $light-accent-color-3;
    }

    &-selected {
      background-color: $light-accent-color-2;
    }
  }

  &-ranks {
    margin-top: 24px;

    &-content {
      padding: 1em;
      padding-top: 0em;
    }

    &-permissions {
      margin-top: 24px;

      &-permission {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  div.board-settings > .modal-content > .board-settings-left-panel {
    width: auto;
  }
}