@import './../../../index.scss';

.backdrop {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0; 
  right: 0;
  top: 0; 
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 0.27s;
}

.modal {
  z-index: 10;
  position: absolute;
  left: 0; 
  right: 0;
  top: 0; 
  bottom: 0;
  margin: auto;
  width: auto;
  max-width: 75%;
  border-radius: 6px;
  max-height: 75%;
  min-height: 100px;
  height: auto;
  text-align: center;
  background-color: $light-accent-color-1;

  &-content {
    padding: 1em;
    text-align: left;
  }

  &-header {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-top: 4px;
  }

  &-footer {
    text-align: right;
    background-color: $dark-accent-color-3;
    padding: 4px;
    height: 42px;
    
    button {
      &.modal-cancel {
        background-color: $light-accent-color-5;
      }

      &.modal-confirm {
        background-color: $poplet-green;
      }

      margin-left: 6px;
      margin-right: 6px;
      height: 32px;
      line-height: 32px;
    }
  }

  &-error {
    color: #bd4949;
    font-size: 14px;
    text-align: left;
  }
}

.note-detailed-view > .modal-content {
  display: flex;
  flex-direction: row;

  > .modal-note-content-text {
    display: flex;
    flex-direction: column;
    min-height: 70%;
    min-width: 70%;
    height: 500px;
    width: 500px;
    padding-right: 48px;

    > .modal-header {
      text-transform: none;
      font-size: 26px;
      font-weight: 700;
      margin-top: 4px;
      margin-bottom: 12px;
    }
  }

  > .modal-note-settings {
    flex-direction: column;
    min-width: 33%;

    > .modal-note-settings-header {
      color: #bdbdbd;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;
      font-family: 'Roboto', sans-serif;
      margin-top: 24px;
      margin-bottom: 6px;
    }
  }
}