.text-input {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 32px;
  align-content: center;
}

.text-input::placeholder {
  color: #7a7a7a;
}

.poplet-input {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  min-height: 20px;
  white-space: nowrap;
  align-items: center;

  br {
    display: none;
  }

  * {
    display: inline;
    white-space: nowrap;
  }
}

div.input-icon {
    flex: 0 0 auto;
    width: 18px;
    height: 18px;
    color: #bdbdbd;
    i {
      font-size: 18px;
    }
}