@import './../../../index.scss';

.selectable-item {
  padding: 0.1em 1em 0.1em 1em;
  height: auto;
  width: 100%;

  &-content {
    padding: 0.5em;
    border-radius: 4px;
  }
}

div.selectable-item-selected {
  transition: 0.05s;
  background-color: $dark-accent-color-3;
}