.btn, .btn-small, .close-button, .minimalistic-button {
  font-size: 13px;
  font-family: 'Heebo', sans-serif;
  font-weight: 600;

  i {
    font-size: 1.3rem;
    font-weight: 400;
  }
}

.btn {
  background-color: #535353;
  line-height: 24px;
  height: 24px;
}

.btn-floating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.floating-btn-label {
  padding-top: 6px;
  font-size: 12px;
  color: rgb(189, 189, 189);
}

.minimalistic-button {
  &-icon {
    margin-right: 6px;
  }
}

.minimalistic-button, .close-button {
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  color: var(--theme-pure-color);
  height: auto;
  -webkit-user-select: none;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  > i:hover {
    transition: background-color 0.1s;
    border-radius: 100%;
    background-color: var(--light-accent-color-2);
  }
}

.close-button {
  transition: background-color 0.1s;

  > i {
    font-size: 20px;

    &:hover {
      border-radius: 4px;
      background-color: var(--light-accent-color-2);
    }
  }
}

.close-button-filled {
  background-color: var(--light-accent-color-2);
  border-radius: 100%;
  padding: 2px;
}

button.btn-circle {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  line-height: 32px;
  padding: 0;
}

.checkbox {
  input {
    position: absolute;
    opacity: 0;
  
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 28px;
      height: 28px;
      background: var(--light-accent-color-5);
    }

    &:checked + label:after {
      content: '';
      position: absolute;
      left: 8px;
      top: 13px;
      background: white;
      width: 3px;
      height: 3px;
      box-shadow: 
        3px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }
}

.radiobutton {
  input {
    position: absolute;
    opacity: 0;

    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 28px;
      height: 28px;
      background: var(--light-accent-color-5);
      border-radius: 50%;
    }
  }
}

.radiobutton, .checkbox {
  input {
    & + label {
      display: flex;
      position: relative;
      cursor: pointer;
      padding: 0;
      align-items: center;
    }

    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
  
    // Box checked
    &:checked + label:before {
      background: var(--poplet-purple);
    }
    
    // Disabled state label.
    &:disabled + label {
      color: var(--text-accent-color-2);
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: var(--text-accent-color-1);
    }
  }
}