@import './../../index.scss';

.home {
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  height: 100%;
  width: 100%;

  .navbar {
    background-color: $dark-accent-color-purple-3;

    &-user-container {
      &:hover {
        background-color: $dark-accent-color-purple-1;
      }
    }
  }
}

.home-container {
  margin-top: -1.25em;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.board-add-items {
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: -1.2em;
  margin-top: 0.5em;
  padding: 0.5em;

  header {
    position: relative;
    width: auto;
    overflow: visible;
    top: -8px;
    padding: 0.5em;
  }

  .board-item {
    width: 50%;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;

    .board-item-name {
      text-align: center;
      justify-content: center;
    }
  }
}

.board-item-join, .board-item-create {
  margin: 0;

  > .board-item-name {
    font-weight: 400;
    padding: 0;
    font-size: 14px;
  }
}

@media screen and (min-width: 748px) {
  div.board-selector {
    overflow: auto;
    padding-bottom: 6em;

    > .board-item {
      > .avatar {
        border-radius: 6px;
      }

      .board-item-name {
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 648px) {
  .home-container {
    flex-direction: column;
  }

  .home-content-container {
    overflow-y: auto;
  }

  .board-selector {
    min-height: 350px;
    max-width: 100% !important;
    height: auto;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
  
      &-thumb {
        background-clip: padding-box;
        border-width: 3px;
        border-style: solid;
        border-radius: 7px;
        border-color: #505050;
      }
  
      &-track-piece {
        background-color: #1d1d1d;
        border: 3px solid #292929;
        border-radius: 7px;
      }
    }
  }
}

.home-content-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  overflow-y: auto;
}

.activity-feed {
  display: flex;
  flex-direction: column;
  justify-items: left;
  text-align: left;
  background-color: $dark-accent-color-purple-4;
  padding: 2em;
  min-height: 300px;
  min-width: 500px;
  width: 100%;

  &-title {
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 24px;
  }

  &-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: $text-accent-color-3;
  }

  &-content {
    display: flex;
    flex-direction: column;

    > div.note[style] {
      margin: 1em;
      position: relative;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}

.recently-viewed {
  display: flex;
  flex-direction: column;
  justify-items: left;
  text-align: left;
  background-color: $dark-accent-color-purple-4;
  padding: 2em;
  min-height: 100px;
  height: auto;
  min-width: 500px;
  width: 100%;

  &-title {
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 24px;
  }

  &-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: $text-accent-color-3;
  }

  &-content {
    display: flex;
    flex-direction: column;

    > div.note[style] {
      margin: 1em;
      position: relative;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}

.board-selector {
  background-color: $dark-accent-color-purple-5;
  padding: 1em;
  max-width: 340px;
  width: 100%;
  text-align: left;
  
  > h2 {
    padding-top: 0.25em;
    padding-left: 0.25em;
    font-size: 26px;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    margin: 0;
    margin-bottom: 12px;
  }
}

.board-item {
  transition: all 0.1s;
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-start;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-left: 0;
  border-radius: 6px;

  &-name {
    padding-left: 12px;
    flex: 80%;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
  }

  &:hover:not(.board-item-join):not(.board-item-create) {
    transform: translateX(6px);
    -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  }

  &-join {
    background-color: $board-join-color;
  }

  &-create {
    background-color: $board-create-color;
  }
}