.home {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  height: 100%;
  width: 100%;

  .navbar {
    background-color: var(--dark-accent-color-purple-3);

    &-user-container {
      background-color: var(--dark-accent-color-purple-2);
      transition: all 0.15s;

      &:hover {
        background-color: var(--dark-accent-color-purple-1);
      }
    }
  }
}

.home-container {
  margin-top: -1.25em;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.board-interaction-btn {
  transition: all 0.15s;
  width: 100%;
  text-align: center;
  padding: 1em;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.board-add-items {
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: -1.2em;
  margin-top: 1em;
  padding: 1em;

  header {
    background: var(--dark-accent-color-purple-2);
    width: 100%;
    color: var(--text-accent-color-3);
    position: relative;
    text-align: center;
    overflow: visible;
    margin: 0;
    padding: 0.5em;
  }

  .board-item {
    width: 50%;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;

    &-name {
      text-align: center;
      justify-content: center;
      font-family: 'Inter', sans-serif;
      letter-spacing: -0.35px;

      i {
        font-size: 20px;
        margin-right: 4px;
      }
    }
  }
}

.board-item-join, .board-item-create {
  margin: 0;

  > .board-item-name {
    font-weight: 400;
    padding: 0;
    font-size: 14px;
  }
}

@media screen and (min-width: 748px) {
  div.board-selector {
    overflow: auto;
    padding-bottom: 6em;

    > .board-item {
      > .avatar {
        border-radius: 6px;
      }

      .board-item-name {
        font-weight: 400;
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 648px) {
  .home-container {
    flex-direction: column;
  }

  .home-content-container {
    overflow-y: auto;
  }

  .board-selector {
    max-height: 350px;
    max-width: 100% !important;
    height: auto;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
  
      &-thumb {
        background-clip: padding-box;
        border-width: 3px;
        border-style: solid;
        border-radius: 7px;
        border-color: #505050;
      }
  
      &-track-piece {
        background-color: #1d1d1d;
        border: 3px solid #292929;
        border-radius: 7px;
      }
    }
  }
}

.home-content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  overflow-y: auto;
  background: var(--dark-accent-color-purple-4);
  
  &-background {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('/assets/svg/poplet-background-accent.svg');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .2;
    width: 100%;
    height: 100%;
  }
}

.pending-friend {
  padding: 0.5em;
  margin-right: 12px;
  margin-bottom: 24px;
  background: rgba(0, 0, 0, 0.4);
  max-width: 250px;
  margin: 12px;
  margin-top: 0;

  &-info {

  }

  &-avatar {
    border-radius: 8px;
  }

  div > &-username {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 6px;
    margin-top: 4px;
  }

  div > &-btns {
    color: white;

    .btn-small {
      color: white;
      margin-left: 6px;
      margin-right: 6px;
    }
  }

  div > &-title {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: var(--text-color);
    background: rgba(0, 0, 0, 0.45);
    padding: 0.35em;
    margin: 12px;
    margin-bottom: 4px;
  }
}

.activity-feed {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-items: left;
  text-align: left;
  padding: 2em;
  min-height: 300px;
  min-width: 500px;
  width: 100%;

  &-item {
    background: rgba(0, 0, 0, 0.4);
    padding: 0.35em;
    margin: 12px;
    border-radius: 4px;
    padding-left: 8px;

    &-timestamp {
      font-family: 'Inter', sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: var(--text-accent-color-4);
    }

    &-header {
      margin-top: 4px;
      padding: 8px;
      border-radius: 4px;
      background: rgba(0, 0, 0, 0.4);
    }

    &-board-header {
      margin: 0;
      color: var(--poplet-blue) !important;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &-content {
      font-family: 'Inter', sans-serif;
      letter-spacing: -0.5px;
      font-weight: 400;
      margin: 0.3em;
    }

    &-note {
      margin: 0.5em;
      margin-left: 0;
      position: relative !important;
      * {
        cursor: default;
      }

      &-preview {
        margin: 0 !important;
        margin-left: auto;
        transform: scale(0.575) !important;
      }
    }

    &-icon {
      margin-right: 12px;
      align-self: flex-start;
    }
  }

  &-title {
    font-family: 'Inter', sans-serif;
    letter-spacing: -1.25px;
    font-weight: 700;
    font-size: 38px;
    border-radius: 4px;
    padding: 0.5em;
    margin-bottom: 16px;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: var(--text-accent-color-3);
  }

  &-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: 'Inter', sans-serif;

    * {
      color: var(--text-accent-color-1);
    }

    > div.note[style] {
      margin: 1em;
      position: relative;
      width: fit-content;
      top: 0;
      left: 0;
    }
  }
}

.recently-viewed {
  display: flex;
  flex-direction: column;
  justify-items: left;
  text-align: left;
  padding: 2em;
  min-height: 100px;
  height: auto;
  min-width: 500px;
  width: 100%;

  &-title {
    font-family: 'Inter', sans-serif;
    letter-spacing: -1.25px;
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 24px;
  }

  &-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: var(--text-accent-color-3);
  }

  &-content {
    display: flex;
    flex-direction: column;

    > div.note[style] {
      margin: 1em;
      position: relative;
      top: 0;
      width: fit-content;
      left: 0;
    }
  }
}

.board-selector {
  background-color: var(--dark-accent-color-purple-5);
  padding: 1em;
  max-width: 340px;
  width: 100%;
  text-align: left;
  
  > h2 {
    padding-top: 0.25em;
    padding-left: 0.25em;
    font-size: 26px;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.75px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 12px;
  }
}

.board-item {
  transition: all 0.1s;
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-start;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-left: 0;
  border-radius: 4px;

  &-name {
    padding-left: 12px;
    flex: 80%;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
  }

  &:hover:not(.board-item-join):not(.board-item-create) {
    transform: translateX(6px);
    -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  }

  &-join {
    background-color: var(--board-join-color);
  }

  &-create {
    background-color: var(--board-create-color);
  }
}