.note {
  position: absolute;
  border-radius: 4px;
  padding: 1em;
  max-width: 400px;
  max-height: 400px;
  min-width: 175px;
  transition: all 0.5s;

  &-container {
    clear: left;
    overflow: auto;
    position: relative;
    height: 100%;
    
    &.list-view {
      display: flex;
      flex-direction: column;

      > div.note[style] {
        margin: 1em;
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
      }

      > div.group-container[style] {
        margin: 1em;
        position: relative;
        width: 35%;
        top: 0;
        left: 0;
      }
    }

    &::-webkit-scrollbar {
      width: 14px;
      height: 14px;
    }

    &::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      border-width: 3px;
      border-style: solid;
      border-radius: 7px;
      background-color: #202225;
      border-color: #2f3136;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: #2f3136;
      border-radius: 7px;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }

  &-header {
    font-weight: 700 !important;
    font-size: 20px;
    margin-bottom: 8px;
  }

  &-body {
    padding-bottom: 14px;
    white-space: pre-wrap;
  }

  &-content {
    margin-bottom: 12px;
  }

  &-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: -1em;
    padding: 0.5em;
    background-color: rgba(22, 22, 22, 0.5);

    button, a {
      line-height: 24px;
      padding: 0;
      margin: 0;
      height: 24px;
      min-width: 68px;
      max-width: 100px;
    }

    &-label {
      font-size: 11px;
      color: lightgrey;
      margin: 0;
      margin-top: 8px;
    }

    > * {
      flex: 1 1 0px;
      height: fit-content;
    }

    .vertical-rule {
      flex: 0 1 0px;
      margin-left: 8px;
      margin-right: 8px;
    }

    &-comments-container, &-settings-container {
      width: fit-content;
      min-width: 32px;
      max-width: 48px;
    }
  }

  &.selected {
    box-shadow: 6px 8px 8px 1px rgba(22, 22, 22, 0.4);
    border: 2px solid white;

    > .note-content {
      > div {
        background-color: rgba(22, 22, 22, 0.25);
        border-radius: 6px;
        padding: 4px;

        &:focus {
          outline: 0;
        }
      }
      
      margin-bottom: 22px;
    }
  }

  .selected-checkmark {
    position: absolute;
    text-align: right;
    top: -10px;
    bottom: 0;
    left: 0;
    right: 10px;
    background: rgb(255, 255, 255);
    color: rgb(110, 110, 110);
    line-height: 18px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  &-btn {
    &-view {
      margin-top: 12px;
    }
  }
}

@media screen and (max-width: 700px) {
  .note-container {
      width: 100%;
  }
}