.note {
  position: absolute;
  border-radius: 4px;
  padding: 1em;
  max-width: 400px;
  transition: all 0.5s;

  &-container {
    clear: left;
    overflow: auto;
    position: relative;
    width: 80%;
    height: 100%;
    
    &::-webkit-scrollbar {
      width: 14px;
      height: 14px;
    }

    &::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      border-width: 3px;
      border-style: solid;
      border-radius: 7px;
      background-color: #202225;
      border-color: #2f3136;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: #2f3136;
      border-radius: 7px;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }

  &-header {
    font-weight: 700 !important;
    font-size: 20px;
    margin-bottom: 8px;
  }

  &-body {
    margin-bottom: 20px;
    white-space: pre-wrap;
  }

  &-footer {
    button.btn-small {
      line-height: 24px;
      height: 24px;
    }

    &-label {
      font-size: 11px;
      color: lightgrey;
      margin: 0;
      margin-top: 8px;
    }
  }

  &.selected {
    box-shadow: 6px 8px 8px 1px rgb(22, 22, 22);
    border: 2px solid white;
    transform: scale(1.035);
  }

  .selected-checkmark {
    position: absolute;
    text-align: right;
    top: -10px;
    bottom: 0;
    left: 0;
    right: 10px;
    background: rgb(255, 255, 255);
    color: rgb(110, 110, 110);
    line-height: 18px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 700px) {
  .note-container {
      width: 100%;
  }
}