.note {
  position: absolute;

  &-container {
    clear: left;
    overflow-y: scroll;
    width: 80%;
    height: 700px;
    
    &::-webkit-scrollbar {
      width: 5px;
      height: 14px;
    }

    &::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      border-width: 3px;
      border-style: solid;
      border-radius: 7px;
      border-color: #202225;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: #2f3136;
      border: 3px solid #36393f;
      border-radius: 7px;
    }
  }

  &-header {
    font-weight: 700 !important;
  }

  &-footer {
    &-label {
      font-size: 11px;
      color: lightgrey;
    }
  }
}