.notes {
  position: relative;
  min-height: 0;
  background-color: var(--light-accent-color-4);
}

.note {
  position: absolute;
  border-radius: 4px;
  padding: 1em;
  max-width: 400px;
  max-height: 404px;
  min-width: 175px;
  transition: all 0.5s, opacity 0ms;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: fit-content;

  &.note-compact {
    margin-bottom: -1em;
    min-width: 100px;

    .note-content {
      margin: 0;
      padding: 0;
      height: 70%;
      max-height: 90%;

      > .editor {
        padding: 0;
        margin: 0;
      }
    }

    .note-footer {
      opacity: 0;
      bottom: 0;
      right: 0;
      margin: 0;
      width: 100%;
      position: absolute;
    }

    &:hover {
      .note-footer {
        opacity: 1
      }
    }
  }

  &-creation-flash {
    animation: 1.6s noteCreationFlash 0.5s forwards;
    animation-iteration-count: infinite;
    transform-origin: 50%;
  }

  &-label {
    padding: 0.25em;
    background-color: var(--dark-accent-color-4);
    max-width: 150px;
    border-radius: 4px;
    margin: 0.15em;

    &-name {
      font-family: 'Inter', sans-serif;
      letter-spacing: -1px;
      padding-right: 1em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &-new {
      display: flex;
      flex-direction: row;
      font-family: 'Inter', sans-serif;
      letter-spacing: -0.5px;
      padding: 0.25em;
      border-radius: 4px;
      margin: 12px 0;
      background-color: var(--dark-accent-color-purple-2);
      border-radius: 4px;
      cursor: pointer;

      &-innerbtn {
        width: 24px;
        margin-right: 12px;
        padding-left: 8px;
        background-color: var(--dark-accent-color-purple-4);
        border-radius: 4px;
      }
    }

    &:hover {
      max-width: none;
      -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.05);
      -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.05);
      box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.05);
    }
  }

  &-container {
    flex: 1 1 auto;
    overflow: auto;
    position: absolute;
    min-height: 0;
    width: 100%;
    height: 100%;

    &.list-view {
      flex-direction: column;
      transition: all 0.5s;

      > div.note[style] {
        margin: 1em;
        position: relative;
        top: 0;
        left: 0;
      }

      > div.group-container[style] {
        margin: 1em;
        position: relative;
        top: 0;
        left: 0;
      }
    }

    &::-webkit-scrollbar {
      width: 14px;
      height: 14px;
    }

    &::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      border-width: 3px;
      border-style: solid;
      border-radius: 7px;
      background-color: #202225;
      border-color: var(--light-accent-color-4);
    }

    &::-webkit-scrollbar-track-piece {
      background-color: var(--light-accent-color-4);
      border-radius: 7px;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }

  &-header {
    font-weight: 700 !important;
    font-size: 20px;
    margin-bottom: 4px;
  }

  &-body {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    outline: none;
    white-space: pre-wrap; 
    overflow-wrap: break-word;
  }

  &-content {
    padding-bottom: 12px;
    margin-bottom: 4px;

    > .editor {
      display: flex;
      flex-direction: column;
      max-height: 308px;
      overflow: hidden;
    }
  }

  &-footer {
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: -1em;
    padding: 0.5em;
    transition: all 0.15s;
    background-color: rgba(22, 22, 22, 0.5);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    &-hint {
      color: var(--text-accent-color-3);
      font-size: 12px;
      margin-left: 8px;
      margin-right: 8px;
    }

    > div > button, a {
      line-height: 24px;
      padding: 0;
      padding-left: 4px;
      padding-right: 4px;
      margin: 0;
      height: 24px;
      max-width: 58px;
      transition: 0.1s;
      border-radius: 4px;

      &.note-btn-edit {
        max-width: 125px;
        &-disabled > div {
          color: var(--text-accent-color-3);
        }
      }

      > div {
        font-family: 'Inter', sans-serif;
        letter-spacing: -0.011px;
      }
      
      &:hover {
        -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
        -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
      }
    }

    &-label {
      font-size: 11px;
      color: lightgrey;
      margin: 0;
      margin-top: 8px;
    }

    > * {
      flex: 1 1 0px;
      height: fit-content;
    }

    .vertical-rule {
      flex: 0 1 0px;
      margin-left: 8px;
      margin-right: 8px;
    }

    &-comments-container {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: fit-content;
      min-width: 32px;
      max-width: 48px;
      font-size: 15px;
      
      > i {
        position: relative;
        top: -1px;
        margin-right: 6px;
      }
    }
  }

  &.selected {
    box-shadow: 6px 8px 8px 1px rgba(22, 22, 22, 0.4);
    -webkit-box-shadow: inset 0px 0px 0px 2px #fff;
    -moz-box-shadow: inset 0px 0px 0px 2px #fff;
    box-shadow: inset 0px 0px 0px 2px #fff;

    > .note-content {
      padding-bottom: 0px;
      margin-bottom: 4px;

      > div {
        background-color: rgba(22, 22, 22, 0.25);
        border-radius: 6px;
        padding: 4px;

        &:focus {
          outline: 0;
        }
      }
      
      margin-bottom: 22px;
    }
  }

  .selected-checkmark {
    position: absolute;
    text-align: right;
    top: -10px;
    bottom: 0;
    left: -10px;
    right: 10px;
    background: rgb(255, 255, 255);
    color: rgb(110, 110, 110);
    line-height: 18px;
    border-radius: 50%;
    width: 24px;
    height: 24px;

    i {
      width: 24px;
      height: 24px;
    }
  }
}

@media screen and (max-width: 700px) {
  .note-container {
      width: 100%;
  }
}

@keyframes noteCreationFlash {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  50% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: initial;
  }
}