.note {
  position: absolute;
  border-radius: 4px;
  padding: 1em;
  max-width: 400px;

  &-container {
    clear: left;
    overflow: auto;
    position: relative;
    width: 80%;
    height: 100%;
    
    &::-webkit-scrollbar {
      width: 14px;
      height: 14px;
    }

    &::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      border-width: 3px;
      border-style: solid;
      border-radius: 7px;
      background-color: #202225;
      border-color: #2f3136;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: #2f3136;
      border-radius: 7px;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }

  &-header {
    font-weight: 700 !important;
    font-size: 20px;
    margin-bottom: 8px;
  }

  &-body {
    margin-bottom: 20px;
    white-space: pre-wrap;
  }

  &-footer {
    button.btn-small {
      line-height: 24px;
      height: 24px;
    }

    &-label {
      font-size: 11px;
      color: lightgrey;
      margin: 0;
      margin-top: 8px;
    }
  }
}