@import './../../../index.scss';

.navbar-container {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  padding: 0.25em 2em 0.25em 2em;
  height: 75px;
  margin-bottom: 1.25em;
  background-color: $light-accent-color-1;
  justify-items: center;
  align-items: center;

  &-text {
    padding-left: 0.45em;
    margin: 0;
    font-size: 2.35em;
    font-weight: 800;
    color: white;
  }

  >.navbar-user-container {
    padding: 0.65em;
    border-radius: 12px;
    justify-items: center;
    align-items: center;

    &:hover {
      background-color: $light-accent-color-2;
      transition: all 0.125s;
    }
  }

  &-register {
    margin-left: auto;
    display: flex;
    flex-direction: row;

    &-or {
      color: grey;
      padding: 0 0.5em 0 0.5em;
      text-transform: lowercase;
    }
  }

  &-user-container {
    margin-left: auto;
    display: flex;
    flex-direction: row;

    &-username {
      padding-left: 12px;
      display: flex;
      align-items: center;
    }
  }
}

.board-navbar {
  display: flex;
  padding: 0.25em 2em 0.25em 2em;
  height: 50px;
  background-color: $light-accent-color-1;
  justify-items: center;
  align-items: center;

  &-text {
    padding-left: 0.75em;
    margin: 0;
  }

  &-user-container {
    padding: 0.65em;
    justify-items: center;
    align-items: center;

    &:hover {
      background-color: $light-accent-color-2;
      transition: all 0.125s;
    }
  }

  &-user {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    width: auto;
    &-container {
      display: flex;
      flex-direction: row;

      &-username {
        padding-left: 12px;
        display: flex;
        align-items: center;
      }
    }
    
  }
}

.board-selector-btn {
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 12px;
    padding-right: 12px;

    > p {
      margin-left: 8px;
    }

    &:hover {
      background-color: $light-accent-color-2;
      transition: all 0.125s;
    }
  }
}

.beta-badge {
  top: -6px;
  font-family: "Roboto", sans-serif;
  margin: 5px;
  margin-left: 14px;
  padding-left: 5px;
  padding-right: 5px;
  height: auto;
  text-transform: uppercase;
  font-size: 11px;
  background-color: $poplet-blue;
  display: inline-block;
  border-radius: 5px;
  line-height: 1.75em;
  position: relative;
}