[contenteditable]:empty:before {
  content: attr(placeholder);
  color: grey;
  display: inline-block;
}

.editor {
  outline: none;
  white-space: pre-wrap; 
  overflow-wrap: break-word;
  overflow: hidden;
  -webkit-user-modify: read-write-plaintext-only;
}

.editor-cursor {
  cursor: default;
}