.popout {
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  text-align: left;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  background-color: var(--dark-accent-color-1);
  min-width: 100px;
  max-width: 400px;
  min-height: 100px;
  position: absolute;
  z-index: 10;
  border-radius: 6px;
  box-shadow: 0px 0px 3px black;

  &-nopadding {
    > .popout-content {
      padding: 0;
    }
  }

  &-content {
    padding: 1em;
  }

  &-footer {
    margin-top: 12px;
    background-color: var(--dark-accent-color-4);
    width: 100%;
  }
}

.member-popout {
  max-width: 250px !important;

  &-title {
    max-width: 120px;
    margin-left: 12px;

    > .indicator {
      margin-top: 4px;
    }
  }

  &-username {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.5px;
  }

  &-subheading {
    color: var(--text-subheading-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
  }

  &-body {
    margin-top: 16px;

    &-item {
      margin-right: 24px;
    }
  }

  button.btn-small {
    margin-top: 12px;
  }

  &-footer {
    color: var(--text-accent-color-2);
    padding: 12px;
  }
}