@import './../../../index.scss';

.rank-small {
  background-color: $dark-accent-color-4;
  padding: 0.25em;
  border-radius: 4px;
  margin: 0.25em;
  margin-left: 0;
  align-content: center;
  justify-content: center;

  &-name {
    margin-right: 1em;
    padding-left: 0.25em;
  }
  
  &-close {
    > i {
      display: flex;
      align-content: center;
      font-size: 16px;
    }
  }
}

.rank-option {
  width: 100%;
  height: 32px;
  background-color: $dark-accent-color-5;
  cursor: pointer;
  padding: 1em;
  text-align: left;
  border-radius: 4px;
  margin: 0.25em;

  &-list {
    width: 200px;
    margin: 0.5em 0;
  }

  &:hover {
    background-color: $dark-accent-color-3;
  }
}

.rank-add-btn {
  width: 26px;
  height: 26px;
  padding: 0.3em;
  background-color: $dark-1;
  font-size: 22px;
  text-align: center;
  justify-content: center;
  align-content: center;
  line-height: 12px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $dark-accent-color-3;
  }
}

.rank-popout-container {
  padding: 0.25em 0 0 0;
}