.avatar {
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  font-size: 15px;
  color: #fff;
  margin: auto;
  background: rgb(83, 83, 83);
}

.avatar p {
  top: -8px;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
}