@import './../../index.scss';

.chatroom-title {
  font-size: 32px;
  font-weight: 700;
}

.chatroom-last-active-label {
  font-size: 13px;
  color: lightgrey;
}

.chatroom-header {
  background-color: #5c6bc0;
  width: 100%;
  height: 15%;
  padding: 12px;

  &-btns {
    margin-left: 0px;
    
    .btn-small {
      width: 12px;
      height: 12px;
    }
  }
}

.chatroom-root {
  background-color: #333333;
  height: 100% !important;
  width: 100%;
  padding: 0 !important;
}

.chatroom-tab {
  &-room {
    margin-left: 6px;
    margin-right: 6px;
    padding: 6px 12px 6px 12px;
    background-color: $light-accent-color-1;
    height: 32px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    max-width: 150px;

    &-btn i {
      font-size: 20px;

      &-close {
        margin-left: 6px;
      }
    }

    &:last-child {
      background-color: $dark-accent-color-1;
    }

    &-name {
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 12px;
    }
  }
}

.chatroom-tabs {
  width: 100%;
}

.chatroom-body {
  width: 100%;
}

.chatroom-textarea {
  position: absolute;
  bottom: 0;
  background-color: #1a1a1a;
  width: 100%;
  margin: 0;
  padding: 12px;
  max-width: 250px;
  resize: none;
}

.chatroom-container {
  max-width: 250px;
  width: 100%;
  box-shadow: 0px 0px 18px $dark-accent-color-5;
  z-index: 1;
}

.chatroom-comment {
  &-container {
    padding: 8px;
  }

  &-author {
    height: 16px;

    &-username {
      margin-left: 12px;
      position: relative;
    }
  }

  &-content p {
    color: rgb(202, 202, 202);
    margin-left: 45px;
    overflow-wrap: normal;
    word-wrap: break-word;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .chatroom-title {
      font-size: 24px;
      font-weight: 700;
  }

  .chatroom-container {
    max-width: 200px;
  }
}

@media screen and (max-width: 900px) {
  .chatroom-title {
      font-size: 16px;
      font-weight: 700;
  }
}

@media screen and (max-width: 750px) {
    .chatroom-header-btns {
        padding: 0;
        padding-top: 6px;
    }
}

@media screen and (max-width: 700px) {
  .chatroom-container {
      display: none;
  }
}