@import './../../index.scss';

.chatroom-title {
  font-size: 32px;
  font-weight: 700;
}

.chatroom-last-active-label {
  font-size: 13px;
  color: lightgrey;
}

.chatroom-dragbar {
  width: 3px;
  background-color: $dark-accent-color-5;
  opacity: 0.5;
  position: absolute;
  cursor: col-resize;
  height: 100%;
  overflow: hidden;
  z-index: 9;
}

.chatroom-header {
  position: relative;
  background-color: #5c6bc054;
  width: 100%;
  height: 130px;
  min-height: 130px;
  padding: 12px;
  box-shadow: 0px 0.5px 4px $dark-accent-color-4;

  &-information {
    width: 80%;
  }

  &-btns {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    > button {
      width: 100%;
      height: 100%;
      padding: 10px;
      transition: 0.1s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
      }

      &:last-child {
        background-color: rgba($poplet-red, 0.3);

        &:hover {
          background-color: rgba($poplet-red, 0.6);
        }
      }
    }
  }
}

@keyframes slideChatroomOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  99% {
    transform: translateX(200px);
  }

  100% {
    opacity: 0;
  }
}

@keyframes slideChatroomIn {
  0% {
    opacity: 1;
    transform: translateX(200px);
  }

  100% {
    transform: translateX(0px);
  }
}

.chatroom-exiting {
  animation: 0.55s slideChatroomOut 0s forwards cubic-bezier(.15,.97,.51,1.01);
}

.chatroom-entering {
  animation: 0.45s slideChatroomIn 0s backwards cubic-bezier(.15,.97,.51,1.01);
}

.chatroom-root {
  background-color: $light-accent-color-2;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.chatroom-tab {
  &-room {
    margin-left: 6px;
    margin-right: 6px;
    padding: 6px 12px 6px 12px;
    background-color: $light-accent-color-1;
    height: 32px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    max-width: 150px;
    border: 0.8px $dark-accent-color-3 solid;

    &-btn i {
      font-size: 18px !important; 

      &-close {
        margin-left: 6px;
      }
    }

    &:last-child {
      background-color: $dark-accent-color-1;
      border-radius: 0px;
      width: 41px;
      margin: 0;
      margin-left: auto;
      cursor: pointer;
    }

    &-name {
      white-space: nowrap; 
      max-width: 90px;
      min-width: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 12px;
    }
  }
}

.chatroom-tabs {
  width: 100%;
}

.chatroom-body {
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding-left: 4px;
  overflow: auto;
}

.chatroom-textarea-container {
  width: 100%;

  > form {
    margin: 0;
    padding: 0;
  }
}

.chatroom-textarea {
  position: relative;
  bottom: -4px;
  background-color: #1a1a1a;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 12px;
  resize: none;
  font-family: 'Roboto', sans-serif;

  &-options {
    display: flex;
    width: 100%;
    background-color: $dark-accent-color-4;

    div > button, > button {
      padding: 1em;

      &:hover {
        background-color: $dark-accent-color-2;
      }
    }

    > :last-child {
      margin-left: auto;
    }
  }
}

.chatroom-container {
  max-width: 500px;
  width: 250px;
  box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.chatroom-comment {
  &-container {
    padding: 10px 8px;
  }

  &-author {
    height: 16px;

    &-username {
      margin-left: 12px;
      position: relative;
    }
  }

  &-content p {
    color: rgb(202, 202, 202);
    margin-left: 45px;
    overflow-wrap: normal;
    word-wrap: break-word;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .chatroom-title {
      font-size: 24px;
      font-weight: 700;
  }

  .chatroom-container {
    max-width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .chatroom-title {
      font-size: 16px;
      font-weight: 700;
  }
}

@media screen and (max-width: 800px) {
    .chatroom-header-btns {
        padding: 0;
        padding-top: 6px;
    }
}

@media screen and (max-width: 770px) {
  div.chatroom-container {
      display: none;
  }
}