.indicator {
  width: 12px;
  height: 12px;

  &-text {
    max-width: 55px;
    width: auto;
    color: var(--text-accent-color-1);
    margin-left: 16px;
  }

  &.online {
    background-color: var(--poplet-green);
    border-radius: 100%;
  }
}

