@import './../../index.scss';

.blog-content {
	margin: 4em;
}

.blog-body {
	background-color: $dark-accent-color-1;
	height: 100%;
	width: 100%;
}

.blog-content-card {
	background-color: $dark-accent-color-4;
	padding: 1em;
	border-radius: 2px;
	box-shadow: 1px 1px 4px $dark-1;
	margin: 2em 0.5em;
	transition: all 0.25s;
	cursor: pointer;

	&:hover {
		transform: scale(1.01);
	}

	&-title {
		font-family: 'Rubik', sans-serif;
		font-weight: 300;
		font-size: 38px;
		margin-bottom: 0;
		color: $poplet-blue;
		padding: 4px;
		border-radius: 4px;
		word-wrap: break-word;
	}

	&-content {
		color: white;
		padding: 8px;
		padding-left: 8px;
		font-size: 16px;
		margin-right: 35%;
		margin-top: 0px;
	}
}

.blog-main-title {
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 32px;
	font-size: 64px;
	color: $poplet-purple;
	font-family: 'Rubik', sans-serif;
	font-weight: 800;
}

section.blog-cinematic {
	background: linear-gradient(to right, rgba(255,255,255,0.95) 40%,rgba(255,255,255,0.01) 100%,rgba(255,255,255,0) 50%), url(./../svg/intro.svg) no-repeat, white;
	background-size: cover;
	background-position: 0px 0px;
	max-width: 100%;
	width: 100%;
	height: 300px;
	max-height: 75%;
}

.blog-description-title {
	margin-top: 0;
	color: black;
}