.blog-post-editor {
  background-color: var(--dark-accent-color-5);
  width: 70%;
  min-height: 400px;
  height: 400px;
  padding: 8px;

  &-title {
    background-color: var(--dark-accent-color-5);
    width: 70%;
    min-height: 32px;
    height: 32px;
    padding: 8px;
  }
}

.blog-editor-body {
  margin: 4em;
}