@import './../login/Login.scss';

.authentication-container {
  top: 8em;
  left: 2em;
}

.password-component {
  display: flex;
  flex-direction: row;
}

.security-measurer {
  position: relative;
  width: 18px;
  height: 18px;
  top: 6px;
  margin-left: 12px;
}

.security-color {
  transition: all 0.33s;
  background-color: grey;
  width: 18px;
  height: 18px;
}

.password-container {
  margin-bottom: 12px;
}

.email-container {
  margin-bottom: 32px;
}

.account-exists {
  margin-top: 2em;
}

.security-measurer-text {
  margin-left: 12px;
  color: var(--text-accent-color-1);
}

@media only screen and (max-height: 768px) {
  .authentication-header {
    margin: 0;
    height: auto;
  }

  .authentication-container {
    top: 4em;
    height: auto;
  }
}