.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: #2d2d2d;
    overflow-y: hidden;
    overflow-x: hidden;
}

div {
    color: white;
}

.hidden {
    visibility: hidden;
}

@keyframes fadeIn {
	to {
        transform: scale(1.2);
        opacity: 1
	}
}

@-webkit-keyframes fadeIn {
	to {
        transform: scale(1.2);
        opacity: 1
	}
}

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both
}

.fadeIn {
    opacity: 0;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
	-webkit-animation-name: fadeIn;
}

.center-on-page {
    position: absolute;
    left: 0; 
    right: 0;
    top: 0; 
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: center;
}

.materialize-textarea {
    color: white;
}