.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: #2d2d2d;
    overflow-y: hidden;
    overflow-x: hidden;
}

div {
    color: white;
}

.hidden {
    visibility: hidden;
}

@keyframes fadeIn {
	to {
        transform: scale(1.2);
        opacity: 1
	}
}

@-webkit-keyframes fadeIn {
	to {
        transform: scale(1.2);
        opacity: 1
	}
}

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both
}

.fadeIn {
    opacity: 0;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
	-webkit-animation-name: fadeIn;
}

.center-on-page {
    position: absolute;
    left: 0; 
    right: 0;
    top: 0; 
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: center;
}

.loading-poplet-label {
    font-weight: 750;
    font-size: 32px;
}

.login-container {
    padding: 10em;
	background: linear-gradient(to right, rgba(0,0,0,0.95) 25%,rgba(0,0,0,0.01) 295%,rgba(0,0,0,0) 92%), url('https://blogs.urz.uni-halle.de/geofox/wp-content/themes/modern/assets/images/header/pixabay.canada-407701.jpg') no-repeat fixed;
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
    background-repeat: no-repeat;
    position: absolute;
    left: 0; 
    right: 0;
    top: 0; 
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.login-header {
    margin-bottom: 48px;
}

.login-header-error {
    color: #bd4949;
    font-size: 22px;
    text-align: left;
}

.login-container h1 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 12px;
}

.login-container input {
    color: white;
}

.btn.login-button {
    background-color: #5ba367;
    position: relative;
}

.critical-failure {
    opacity: 0;
    padding: 10em 30% 10em 30%;
	background: linear-gradient(to right, rgba(0,0,0,0.95) 25%,rgba(0,0,0,0.01) 295%,rgba(0,0,0,0) 92%), url('https://live.staticflickr.com/5504/10326267754_80f3a42dc9_b.jpg') no-repeat fixed;
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.critical-failure h1 {
    font-weight: 800;
    font-size: 72px;
    margin-bottom: 4px;
}

.critical-failure h2 {
    font-weight: 700;
    font-size: 24px;
    color: #b71c1c;
    margin-top: 0;
    margin-bottom: 64px;
}

.critical-failure h4 {
    font-size: 24px;
    color: #bdbdbd;
}

.critical-failure h5 {
    margin-top: 42px;
    font-size: 20px;
    color: #bdbdbd;
}

.btn {
    background-color: #535353;
    box-shadow: 1px 1px 2px #1e1e1e;
}

.avatar {
    border-radius: 360px;
}

.vertical-rule  {
    border-left: 1px solid #fff;
    float: left;
}

.top-section {
    padding-top: 12px;
    margin-bottom: 12px;
    float: left;
    width: 80%;
    background-color: #292929;
    box-shadow: 3px 4px 2px #212121;
}

.board-information {
    float: left;
    margin-right: 24px;
}

.board-user-options-btns {
    float: left;
    clear: left;
    margin-top: 18px;
}

.board-user-options-btns .btn-small {
    margin-right: 12px;
}

.btn.board-user-options-btn {
    height: 24px !important;
    line-height: 24px !important;
}

.options-top-section-left {
    float: right;
}

.board-details .avatar {
    top: 4px;
    position: relative;
}

.board-info-title {
    font-weight: 800;
}

.board-info-text {
    float: right;
    padding-left: 12px;
}

.board-details {
    float: left;
}

.large-invite-members-btn {
    float: right;
    margin-top: 4px;
    margin-left: 12px;
}

.top-bar-searchbar {
    background-color: #1e1e1e;
    top: -18px;
    width: 100% !important;
    border-radius: 8px;
    box-shadow: 1.5px 1.5px 8px black;
}

.top-bar-searchbar-input {
    color: white;
    height: 24px;
    line-height: 12px;
}

.top-bar-searchbar-container {
    height: 48px;
}

.btn {
    line-height: 24px;
    height: 24px;
    font-size: 11px;
}

.materialize-textarea {
    color: white;
}

.btn-floating {
    margin-left: 12px;
    margin-right: 12px;
}

.top-bar-floating-btn {
    box-shadow: 1.5px 1.5px 8px black;
}

.btn-floating-container {
    width: fit-content;
    margin: 0;
    float: left;
}

.chatroom-header {
    background-color: #5c6bc0;
    width: auto;
    height: 15%;
    padding: 12px;
}

.chatroom-title {
    font-size: 32px;
    font-weight: 700;
}

.chatroom-header-information {
    float: left;
}

.chatroom-last-active-label {
    font-size: 13px;
    color: lightgrey;
}

.chatroom-header-btns {
    padding: 12px;
    padding-left: 0px;
    margin-left: 0px;
    float: left;
}

.chatroom-root {
    background-color: #333333;
    width: 20%;
    height: 100% !important;
    position: absolute;
    right: 0px;
    top: 0px;
    float: right;
    padding: 0 !important;
}

.chatroom-body {
    margin-top: 12px;
    padding: 12px;
}

.chatroom-textarea {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1a1a1a;
}

.chatroom-textarea textarea {
    margin: 12px;
    width: 90%;
}

.chatroom-container {
    float: right;
    width: 20%;
}

.chatroom-comment-author {
    height: 32px;
}

.chatroom-comment-author-username {
    float: right;
    top: -10px;
    padding-left: 12px;
    position: relative;
}

.chatroom-comment-content {
    clear: left;
    color: rgb(202, 202, 202);
}

.chatroom-comment-content p {
    padding-top: 5px;
    margin-top: 5px;
}

@media screen and (max-width: 1024px) {
    .chatroom-title {
        font-size: 24px;
        font-weight: 700;
    }
}

@media screen and (max-width: 900px) {
    .board-information {
        margin: 0;
        width: 40% !important;
    }

    .chatroom-title {
        font-size: 16px;
        font-weight: 700;
    }
}

@media screen and (max-width: 750px) {
    .board-information {
        margin: 0;
        width: 30% !important;
    }

    .chatroom-header-btns {
        padding: 0;
        padding-top: 6px;
    }
}

@media screen and (max-width: 650px) {
    .chatroom-container {
        display: none;
    }

    .top-section {
        width: 100%;
    }

    .note-container {
        width: 100%;
    }

    .board-information {
        margin: 0;
        width: 20% !important;
    }
}

.note {
    position: absolute;
}

.note-header {
    font-weight: 700 !important;
}

.note-footer-label {
    font-size: 11px;
    color: lightgrey;
}

.note-container {
    clear: left;
    overflow-y: scroll;
    width: 80%;
    height: 700px;
}

.note-container::-webkit-scrollbar {
    width: 5px;
    height: 14px;
}

.note-container::-webkit-scrollbar-thumb {
	background-clip: padding-box;
    border-width: 3px;
    border-style: solid;
	border-radius: 7px;
	border-color: #202225;
}

.note-container::-webkit-scrollbar-track-piece {
	background-color: #2f3136;
    border: 3px solid #36393f;
    border-radius: 7px;
}