.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: #2d2d2d;
    overflow-y: hidden;
    overflow-x: hidden;
}

div {
    color: white;
}

p {
    margin: 0;
}

.hidden {
    visibility: hidden;
}

@keyframes fadeIn {
	to {
        transform: scale(1.2);
        opacity: 1
	}
}

@-webkit-keyframes fadeIn {
	to {
        transform: scale(1.2);
        opacity: 1
	}
}

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both;
}

.fadeIn {
    opacity: 0;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
	-webkit-animation-name: fadeIn;
}

@keyframes fadeInZoomOut {
    0% {
        transform: scale(1.1);
        opacity: 0.4;
	}
	50% {
        transform: scale(0.999);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
	}
}

@-webkit-keyframes fadeInZoomOut {
    0% {
        transform: scale(1.1);
        opacity: 0.4;
	}
	50% {
        transform: scale(0.999);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
	}
}

.fadeInZoomOut {
    animation-duration: 0.35s;
	animation-fill-mode: both;
	-webkit-animation-duration: 0.45s;
	-webkit-animation-fill-mode: both;
    opacity: 0;
    animation-name: fadeInZoomOut;
    animation-timing-function: ease-in-out;
	-webkit-animation-name: fadeInZoomOut;
}

@keyframes fadeOutZoomIn {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    99% {
        -webkit-transform: scale(40);
        transform: scale(40);
        filter: blur(0);
        -webkit-filter: blur(0);
        opacity: 1;
	}
    100% {
        -webkit-transform: scale(40);
        transform: scale(40);
        filter: blur(0);
        -webkit-filter: blur(0);
        opacity: 0;
        z-index: -10;
	}
}

@-webkit-keyframes fadeOutZoomIn {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    99% {
        -webkit-transform: scale(40);
        transform: scale(40);
        filter: blur(0);
        -webkit-filter: blur(0);
        opacity: 1;
	}
    100% {
        -webkit-transform: scale(40);
        transform: scale(40);
        filter: blur(0);
        -webkit-filter: blur(0);
        opacity: 0;
        z-index: -10;
	}
}

.fadeOutZoomIn {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    filter: blur(0);
    -webkit-filter: blur(0);
    animation-delay: 2s;
    animation-duration: 2s;
	animation-fill-mode: both;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: both;
    opacity: 0;
    animation-name: fadeOutZoomIn;
    animation-timing-function: ease-in-out;
	-webkit-animation-name: fadeOutZoomIn;
}

@keyframes openWindow {
    from {
        background-color: white;
    }
    to {
        border: 3px solid white;
        border-radius: 10;
        background-color: transparent;
	}
}

@-webkit-keyframes openWindow {
    from {
        background-color: white;
    }
    to {
        border: 3px solid white;
        border-radius: 10;
        background-color: transparent;
	}
}

.openWindow {
    animation-delay: 2s;
    animation-duration: 0.6s;
	animation-fill-mode: both;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-fill-mode: both;
    animation-name: openWindow;
    animation-timing-function: ease-in-out;
	-webkit-animation-name: openWindow;
}

.loading, .container  {
    position: absolute;
    left: 0; 
    right: 0;
    top: 0; 
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: 9;
}

.poplet-title {
    font-size: 24px;
    color: white;
}

div[class^="poplet-icon-bg"] {
    background-color: #2d2d2d;
}

.poplet-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9;
    color: white;

    .poplet-loading-icon {
        > div, > div > div {
            background-color: white;
            z-index: 10;
        }
    }
}

.center-on-page {
    position: absolute;
    left: 0; 
    right: 0;
    top: 0; 
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: center;
}

.materialize-textarea, .materialize-input {
    color: white !important;
}