@charset 'UTF-8';
@import url('https://rsms.me/inter/inter.css');

// * Dark Theme
$primary-color: rgb(46, 45, 50);
$primary-color-purple: #17131f;

$dark-accent-color-purple-1: #4c4068;
$dark-accent-color-purple-2: #413758;
$dark-accent-color-purple-3: #362e49;
$dark-accent-color-purple-4: #282236;
$dark-accent-color-purple-5: #1e1a29;

$dark-accent-color-1: rgb(37, 36, 41);
$dark-accent-color-2: rgb(34, 33, 38);
$dark-accent-color-3: rgb(31, 29, 35);
$dark-accent-color-4: rgb(28, 26, 32);
$dark-accent-color-5: rgb(25, 23, 29);
// Anything below dark-accent-color-5 should just be black

$dark-1: #1a1a1a;

$light-accent-color-purple-1: #9A6993;
$light-accent-color-purple-2: #ad78a5;
$light-accent-color-purple-3: #c788bd;
$light-accent-color-purple-4: #d893ce;
$light-accent-color-purple-5: #f0a9e5;

$light-accent-color-1: rgb(37, 36, 41);
$light-accent-color-2: rgb(40, 39, 44);
$light-accent-color-3: rgb(43, 42, 47);
$light-accent-color-4: rgb(46, 45, 50);
$light-accent-color-5: rgb(49, 48, 53);

// Used for headers, titles and other prominent content
$text-color: #ededed;
// Descriptions or general text that should go underneath a header
$text-accent-color-1: #c9c9c9;
$text-accent-color-2: #b9b9b9;
$text-accent-color-3: #a0a0a0;
$text-accent-color-4: #747474;
$text-accent-color-5: #5e5e5e;
// Used for giving a short description of a component
$text-subheading-color: #8f8f8f;

// * Top level constants - HSL should be 60% 45%
$poplet-error: #b82e2e;
$poplet-warning: #b8532e;
$poplet-success: #2eb840;
$poplet-info: #2ea8b8;

// * Application-based constants
// Should be prefixed by the component it is referencing
$note-default-color: #7452ab;
$board-join-color: #65a376;
$board-create-color: #658fa3;

// * Colors
// HSL should be 45% 45%
$poplet-green: #3fa650;
$poplet-red: #a63f3f;
$poplet-lightred: #ef5350;
$poplet-blue: #6fa2bf;

$poplet-default: #8d5dd9;
$poplet-pink: #d95db4;
$poplet-pinkple: #b649e0;
$poplet-purple: #8e5edd;
$poplet-purple-lighten-1: #a779f0;
$poplet-purple-lighten-2: #ba97ee;
$poplet-purple-lighten-3: #ceb5f3;
$poplet-purple-lighten-4: #d6c6ec;
$poplet-purple-lighten-4: #dbd2e9;

// Make the application take up the entire screen
html, body, #root, .app, .poplet-root {
  height: 100%; 
  width: 100%;
  margin: 0;
}

body, #root {
  overflow: hidden;
}

.poplet-root {
  display: flex;
}

html, body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,800|Bai+Jamjuree:700|Poppins:800|Heebo|Raleway:800|Rubik|Days+One&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
}

input:focus, textarea:focus {
  outline: none;
}

// Materialize variables + normalize
@import '../node_modules/materialize-css/sass/components/color-variables';
@import '../node_modules/materialize-css/sass/components/color-classes';
@import '../node_modules/materialize-css/sass/components/normalize';
@import '../node_modules/materialize-css/sass/components/_variables';
@import '../node_modules/materialize-css/sass/components/global';

// Buttons
@import '../node_modules/materialize-css/sass/components/buttons';
.btn-floating {
  border-radius: 9px;
}

@import '../node_modules/materialize-css/sass/components/dropdown';
@import '../node_modules/materialize-css/sass/components/cards';

// Input
.text-input, select, textarea {
  background-color: $dark-1;
  color: #dddddd;
  padding: 4px;
  margin: 4px;
  font-size: 16px;
  border: 1px solid $dark-accent-color-4;
  border-radius: 4px;
}

.dropdown-content {
  transition: none;
}

.dropdown-content li:hover {
  background-color: initial;
}

// Firefox fix
.scroller, .note-container {
  scrollbar-color: #1d1d1d $light-accent-color-4;
}

.dropdown-content {
  background-color: $dark-accent-color-2 !important;
  width: 200px !important;
  overflow-x: hidden;
  max-height: 400px;

  .avatar {
    top: 0px;
    position: relative;
  }

  li > a {
    padding: 0 !important;
  }

  li:hover {
    -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  }

  .divider {
    background-color: $light-accent-color-3 !important;
    margin-top: 1em;
    padding: 0;
    margin-bottom: 0.5em;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 14px;

    &-thumb {
      background-clip: padding-box;
      border-width: 3px;
      border-style: solid;
      border-radius: 7px;
      border-color: $light-accent-color-4;
    }

    &-track-piece {
      background-color: #1d1d1d;
      border: 3px solid $light-accent-color-4;
      border-radius: 7px;
    }
  }
}

.dropdown-content li {
  padding-top: 12px;
  padding-left: 16px;
  line-height: 2em;
  padding-bottom: 4px;

  .avatar p {
    top: 0px;
  }

  .avatar, i {
    float: left;
    color: white;
    margin-right: 12px;
    position: relative;
  }

  i {
    top: 3px;
  }

  p {
    color: white;
    font-size: 16px;
    display: block;
    line-height: 30px;
    margin: 0;
  }
}


@keyframes jumpIn {
  from {
    opacity: 0;
    transform: scale(1.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.85;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOutModal {
  from {
    opacity: 0.85;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInAndBounceDown {
  from {
    opacity: 0;
    transform: translateY(0px);
  }

  to {
    opacity: 1;
    transform: translateY(200px);
  }
}

@keyframes fadeOutAndZoom {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(-40px);
  }

  to {
    opacity: 0;
    transform: translateY(0px);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translate(0%);
  }
}

@keyframes slideInFromLeftFadeIn {
  from {
    opacity: 0;
    transform: translateX(-100vw);
  }

  to {
    opacity: 1;
    transform: translate(0%);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(calc(100vw - 100%))
  }
}

@keyframes beginAtMiddleFlyToTop {
  from {
    transform: scale(1) translate(0, 0);
  }

  to {
    transform: scale(0.7) translate(-15%, -90%);
  }
}

@keyframes modalEnter {
  0% {
    opacity: 0;
    transform: scale(0.85) perspective(400px) rotateX(10deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) perspective(0px) rotateX(0deg);
  }
}

@keyframes modalExit {
  0% {
    opacity: 1;
    transform: scale(1) perspective(0px) rotateX(0deg);
  }

  100% {
    opacity: 0;
    transform: scale(0.85) perspective(400px) rotateX(10deg);
  }
}