@charset 'UTF-8';

// * Dark Theme
$primary-color: #1d1d1d;

$dark-accent-color-1: #1a1a1a;
$dark-accent-color-2: #161616;
$dark-accent-color-3: #131313;
$dark-accent-color-4: #0f0f0f;
$dark-accent-color-5: #080808;

$light-accent-color-1: #242424;
$light-accent-color-2: #2e2e2e;
$light-accent-color-3: #414141;
$light-accent-color-4: #535353;
$light-accent-color-5: #5f5f5f;

// Used for headers, titles and other prominent content
$text-color: #ededed;
// Descriptions or general text that should go underneath a header
$text-accent-color-1: #c9c9c9;
$text-accent-color-2: #b9b9b9;
$text-accent-color-3: #a0a0a0;
$text-accent-color-4: #747474;
$text-accent-color-5: #5e5e5e;
// Used for giving a short description of a component
$text-subheading-color: #8f8f8f;

// * Top level constants - HSL should be 60% 45%
$poplet-error: #b82e2e;
$poplet-warning: #b8532e;
$poplet-success: #2eb840;
$poplet-info: #2ea8b8;

// * Application-based constants
// Should be prefixed by the component it is referencing
$note-default-color: #7452ab;
$board-join-color: #65a376;
$board-create-color: #658fa3;

// * Colors
// HSL should be 45% 45%
$poplet-green: #3fa650;
$poplet-red: #a63f3f;
$poplet-blue: #6fa2bf;


// Make the application take up the entire screen
html, body, #root, .app, .poplet-root {
  height: 100%; 
  width: 100%;
  margin: 0;
}

.poplet-root {
  display: flex;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto|Bai+Jamjuree:700|Poppins:800|Heebo&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

input:focus, textarea:focus {
  outline: none;
}

// Materialize variables + normalize
@import '../node_modules/materialize-css/sass/components/color-variables';
@import '../node_modules/materialize-css/sass/components/color-classes';
@import '../node_modules/materialize-css/sass/components/normalize';
@import '../node_modules/materialize-css/sass/components/_variables';
@import '../node_modules/materialize-css/sass/components/global';

// Buttons
@import '../node_modules/materialize-css/sass/components/buttons';
.btn-floating {
  border-radius: 9px;
}

@import '../node_modules/materialize-css/sass/components/dropdown';
@import '../node_modules/materialize-css/sass/components/cards';

// Input
.text-input, select, textarea {
  background-color: #1a1a1a;
  color: #dddddd;
  padding: 4px;
  margin: 4px;
  font-size: 16px;
  border: 1px solid #0f0f0f;
  border-radius: 4px;
}

.dropdown-content li:hover {
  background-color: initial;
}