@import './../../../index.scss';

.members-list {
  > .list-container {
    min-height: 100vh;
    height: 100%;

    > .list > .scroller-container > .scroller > .selectable-item:hover {
      -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.05);
      -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.05);
      box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.05);
      cursor: pointer;
    }
  }

  &-header {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em;
    width: 100%;
    background-color: $light-accent-color-2;
  }

  
}