.landing {
  padding: 1em;
}

.title {
  display: flex;
  flex-direction: row;
  flex: 1 auto;
  justify-content: center;
  align-items: center;
}

.main-title {
  width: fit-content;
  padding-left: 24px;
  font-size: 82px;
}
